/* Ik gebruik variablen omdat ik nog niet helemaal eens ben met de kleur verdeling van de elementen, vind het een beetje onhandig om telkens maar te moeten zoeken*/
:root {
  --rood: #E3041F;
  --lichtblauw: #13679c;
  --donkerblauw: #00477f;
  --zwart: #3e3739;
  --grijs: #EBEBEC;
}
html{
	font-size: 1em;
}

@font-face {
    font-family: Regular;
    src: url(fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: Bold;
    src: url(fonts/SourceSansPro-Bold.otf);
}
@font-face {
    font-family: Light;
    src: url(fonts/SourceSansPro-Light.otf);
}
body{
	margin: 0px;
	background-color: #fdfdfd;
	position: relative;
}
header{
	background-color: white;
	padding: .2em;
 	transition: all ease 0.6s;
}
nav{
	position: relative;
	text-align: center;
	min-height: 2.8em;
}
div{
	position: relative;
}
/*Mobile logo*/
nav img{
	height: 2.2em; 
	margin: .2em 0em .2em 0em;
}
nav button{
	background: none;
	color: var(--rood);
	border: none;
	top: .2em;
	position: absolute;
	font-size: 1.3em;
	padding: 7px 10px;
	cursor: pointer;
}

#terug{
	left: .4em;
	display: none;	
	transition: all 1s ease;
	color: white;
}
/*nav buttons */
#search{
	right: .4em;
}
.profiel{
	right: 3em;
}

.notify{	
	transition: all 1s ease-in;
}
.notify::before{
	content: "1";
	position: absolute; 
	margin-top: -0.75em;
	margin-left: 0.6em;
	font-size: 0.8em;
	font-family: Bold;
	padding: 0.01em 0.2em;
	background-color: var(--rood);
	color: white;
	border-radius: 50%;
	border: solid 1px white;
  	animation: bounce 1s ease-in infinite;
}
@keyframes bounce {
  50% {
     transform: translateY(-0.2em);
  }
}

nav input{
	background: none;
	color: white;
	padding: 0.5em;
	border:none;
	height: 2.4em;
	width: 80%;
	display: none;
}
.search form::after{
	content: "___________________________";
	color: white;
	position: absolute;
	display: block;
	font-family: Bold;
	margin-top: -1.6em;
	margin-left: 3em;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
  font-size: 1.1em;
  font-family: Light;
  font-style: italic;
  margin-bottom: 0.2em;
}

/* pagina */
aside{
	text-align: center;
	width: 70%;
	background-color: white;
	padding: 0.5em;
	left: 15%;
	top:-1.9em;
	position: relative;
	-webkit-box-shadow: 0px 3px 11px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 11px -3px rgba(0,0,0,0.75);
}
aside > span{
	font-family: Regular;
	color: var(--donkerblauw);
	font-size: 1.3em;
	padding: 0px;
}

aside button{
	margin: 0.5em auto;
	width: 70%;
	display: block;
	padding: 3px 8px;
	font-size: 1.2em;
	border-radius: 0.6em;
	border:none;
	text-indent: 6%;
	background-color: var(--grijs);
	color: var(--lichtblauw);
	font-family: Regular;
	letter-spacing: 0.1em;
	text-align: left;
}
h1{
	text-align: center;
	width: 40%;
	font-size: 1.3em;
	padding: 0em 0.5em;
	opacity: .75;
	font-family: Light;
	background-color: var(--zwart);
	color: white;
	position: absolute;
	left: 30%;
	top:20%;
}
/* Banner */
 picture > img{
	width: 100%;
	min-height: 10em;
	border-top: solid 0.2em var(--grijs);
	border-bottom: solid 0.2em var(--grijs);
}
picture a img{
	display: none;
}

/* filteren en sorteren menu */
fieldset{
	width: 70%;
	margin:auto;
	background-color: var(--grijs);
	border:none;
	margin-top: -1em;
	margin-bottom: 1.5em;
	padding: 0px;
	border-bottom-left-radius: 0.6em;
	border-bottom-right-radius: 0.6em;
	max-height: 0;
	overflow: hidden;
  	transition: max-height ease-in-out 0.2s;
}

fieldset span{
	font-family: Regular;
	letter-spacing: 0.1em;
	color: var(--zwart);
	font-size: 1.1em;
	margin-top: 1.1em;
	padding: 0.55em;
}
fieldset span::after{
	position: absolute;
	display: block;
	margin-left: 2em;
	margin-top:-.90em; 
	font-size: 0.5em;
	letter-spacing: 0em;
	content: "_____________________________";
	color: var(--zwart);
}
select{
	width: 80%;
	margin: 0.8em 0em;
	background-color:white;
	border-radius: 0.5em;
	border:none;
	padding: 0.5em;
	font-size: 0.9em;
	font-family: Regular;
	color: var(--donkerblauw);

}
.filtertag{
	display: none;
}
/* gebruik gemaakt van een list om mooi uit te lijnen*/
fieldset ul{
	display: inline;
	list-style: none;
	text-align: left;
}
fieldset li{
	margin:0.1em 0.9em; 
}
label{
	font-family: Light;
	font-size: 1.1em;
	color: var(--donkerblauw);
	text-transform: capitalize;
	vertical-align: middle;
}
/* Standaard input laten vervangen omdat ik blauwe vinkjes erin ga zetten */
input[type=radio]{
	visibility: hidden;
	position: absolute;
	cursor: pointer;
}
input[type=radio] + label:before{
	height: 1.1em;
	width: 1.1em;
	content: "    ";
	margin-top: 0.4em;
	margin-right:0.6em;
	border-radius: 20%;
	transition: 0.3s;
	background-color: white;
	display: inline-block;
	vertical-align: baseline;
	border:solid 0.12em #707070;
}
input[type=radio]:checked + label:before{
    width:1.1em;
    height:1.1em;
	background-color: var(--donkerblauw);
	/*content: "  " url('images/vinkje.png');*/
	border:solid 0.12em #707070;
}

/* Overzicht van verhalen */
section{
	background-color: #F9F9F9;
	position: relative;
}


/* Verhaal blokken*/

article{
	border-radius: 0.4em;
	background-color: white;
	margin: 1.8em auto;
	width: 90%;
	-webkit-box-shadow: 0px 3px 11px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 11px -3px rgba(0,0,0,0.75);
	position: relative;
}

article img{
	width: 100%;
	max-height: 11em;
	border-radius: 0.4em 0.4em 0em 0em;
}

article h2{
	bottom: 20px;
	left: 10px;
	margin-left: 2%;
	color: var(--donkerblauw);
	font-family: Regular;
	font-size: 1.5em;
	display: inline;
}
article h2::after{
	display: block;
	content: "_________";
	margin-left: 0.3em;
	margin-top: -1em;
	position: absolute;
	color: red;
}
article p{
	font-size: 1.1em;
	font-family: Light;
	color: var(--lichtblauw);
	padding: 10px 8px;
}
article span{
	position: absolute;
}
article button{
	border-radius: 10%;
	border:none;
	background-color: var(--grijs);
	color: var(--donkerblauw);
	font-family: Regular;
	transition: all 1s ease;
	cursor: pointer;
}

article i{
	color: var(--rood);
}

/* Download knop heeft een andere kleur als de andere icons*/
article header button i{
	color: var(--donkerblauw);	
}
header > button{
	position: absolute;
	right: 1.2em;
	padding: 0.2em 0.8em;
	font-size: 1.3em;
}
footer{
	padding: 0.5em;
}
small{
	margin-left: 5%;
	font-family: Regular;
	color: var(--donkerblauw);
	font-size: 1.3em;
}
footer button{
	font-size: 0.9em;
	position: absolute;
	bottom: 2%;
	right: 5%;
	font-family: Bold;
	padding: 0.5em 0.7em;
	word-spacing: 0.1em;
}
.leestijd{
	top: 1%;
	right: 2%;
	font-family: Regular;
	font-size: 1.1em;
}
.genre{
	font-family: Light;
	padding: 0.09em 0.4em;
	color: white;
	background-color: var(--rood);
	border-top-left-radius: 0.4em; 
}
/* 2 kleuren omdat ze niet altijd goed te zien zijn*/
.zwart{
	color: var(--donkerblauw);
}
.wit{
	color: #FFFFFF;
}


/* Animaties */
	.search{
		box-shadow: inset -27em 0 0 0 var(--rood);
	}
	.search button{
		background:none;
	}
	.search button i {
		color: white;
	}
	.search .profiel{
		display: none;
	}
	.search img{
		display: none;
	}
	.search input{
		display: inline;
	}
	.search #terug{
		display: inline;
	}
	.filter{
		display: inline;
		max-height: 20em;
	}

	.downloaded{
		background-color: var(--donkerblauw);
		font-size: 1.45em;
	}
	.downloaded i{
		color: var(--grijs);
	}

.verhaal{
	width: 100%;
	z-index: -1;
}
#back{
	font-size: 3em;
	text-decoration: none;
	font-family: Bold;
	color: var(--rood);
	position: absolute;
	left: 0.1em;
}

	/*Media Queries*/
    @media only screen and (min-width:32em){
     	nav{
     		text-align: left;
     	}
     	nav img{
     		margin-left: 1.5em;
     	}
     	nav input{
     		margin-left: 3em;
     	}
    	article{
    		width: 45%;
    	}
    	 picture > img{
			border-top: none;
		}
    	main{
     		display: flex;
     		align-content: flex-start;
 		 	flex-wrap: wrap;
    	}
    	aside{
    		width: 90%;
    		left: 5%;
    		margin-top: -2em;
    	}
    	h1{
    		top:10%;
    		font-size: 1.5em;
    	}
	 	fieldset{
     		display: inline;
     		width: 100%;
     		background-color: white;
     		margin-top: 0em;
     		max-height: 30em;
     	}
     	.filtertag{
     		display: block;
     	}
     	aside button{
     		display: none !important;
     	}
     	fieldset div{
     		display: inline-block;
     		width: 48%;
     		text-align: left;
     	}
     	fieldset span{
     		display: block;
     	}
     	fieldset ul{
     		display: block;
     	}
     	fieldset li{
     		width: 45%;
     		display: inline-block;
     		margin: 0em;
     	}
     	label{
     		font-size: 1em;
     	}
     	fieldset span::after{
			content: "";
		}
     	select{
     		width: 40%;
     		margin: 0.5em;
     		display: inline;
     		background-color: var(--grijs);
     	}
     	input[type=radio] + label:before{
     		background-color: white;
		}
		.search{
			box-shadow: inset -50em 0 0 0 var(--rood);
		}
    }

     @media only screen and (min-width:65em){
     	section{
     		width: 90%;
     		margin: auto;
     		display: flex;
     	}
     	main{
     		width: 75%;
     	}

     	aside{
     		margin-top: -1em;
     		width: 25%;
     		position: static;
     		height: 23em;
     	}
     	h1{
     		top:50%;
     		font-family: Regular;
     		font-size: 1.6em;
     		width: 30%;
     		left: 30%;
     	}
     	.notify::before{
			background: var(--grijs);
			border: solid 1px var(--zwart);
			color: var(--zwart);
		}
     	picture a img{
     		left: 1.5em;
     		top: 1em;
     		width: 10%;
     		display: inline;
     		position: absolute;
     	}

     	fieldset div{
     		display: block;
     		width: 100%;
     	}
     	select{
     		width: 80%;
     	}
		header button i{
			color: white;
		}
     	header:nth-child(1){
     		background-color: var(--zwart);
     	}
		nav img{
			display: none;
		}
		label{
			font-size: 1.1em;
		}
		fieldset ul{
			margin-left: -2em;
		}
     	article{
     		margin-top: -1em;
     	}
     	div button{
     		display: none;
     	}
     	nav input{
     		width: 20em;
     	}

     	nav form::after{
			display: none !important;
		}
		#terug{
			display: none !important;
		}
		.search{

			box-shadow: inset -20em 0 0 0 var(--rood);

		}
		.verhaal{
			width: 50%;
			display: block;
			margin: auto;
			border:solid 0.5em var(--grijs);
		}
		#back{
			left: 26%;
		}
		/*animaties */
		.scrolled{
			min-height: 2.8em;
			background-color: white !important;
			position: fixed;
			width: 100%;
			top: 0em;
			height: 20px;
			transition: all 1s ease;
			z-index: 1;
		}
		.scrolled i{
			color: var(--rood);
		}
		.scrolled a{
			display: inline;
		}
		.scrolled img{
			display: inline;
			margin-left: 1em;
			margin-top: 0.4em;
			height: 1.8em;
		}
		.scrolled nav input{
			margin-top: -10em; 
		}
		.scrolled .notify::before{
			background: var(--rood);
			border: solid 1px white;
			color: white;
		}
		nav form{
			text-align: right;
		}
		.scrolled nav form{
			margin-top: -2em;
		}

}
